/* inizializzazione */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* /inizializzazione */

body {
  font-family: 'Rubik Mono One', sans-serif;
}

/* intestazione  */
nav li a {
  text-decoration: none;
  font-size: 25px;
  color: black;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin: 30px;
  box-shadow: 0px 5px 7px 3px rgba(0, 0, 0, .1);
  display: inline-block;
}

nav li {
  display: inline-block;
}

header {
  text-align: right;
}

header nav {
  position: fixed;
  width: 100%;
  z-index: 10;
}

nav ul {
  position: relative;
  top: 0;
  right: 0;
}

/* /intestazione  */


/* corpo centrale documento */
section {
  height: 100vh;
  position: relative;
}

.contenitore {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contenitore img {
  width: 100%;
}

h2 {
  text-align: center;
  color: yellow;
  font-size: 50px;
}

#green {
  color: green;
}

.sup {
  background-color: red;
}

.stan {
  background-color: green;
}

.conv {
  background-color: yellow;
}

/* /corpo centrale documento */
